img , span {
  position: absolute;
}

img {
  width: 300px;
  height: 350px;
}

div {
  background-color: white;
  margin: 15px;
  width: 300px;
  height: 350px;
  border: 1px solid black;
  position: relative;
}
